<ng-container>
    <ion-header>
        <ion-toolbar>
            <ion-searchbar></ion-searchbar>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list *ngIf="(invitations$ | async)?.length; else noInvites">
            <ion-item *ngFor="let invitation of invitations$ | async">
                <ion-avatar>
                    <ngx-avatar [name]="invitation.user.firstName" textSizeRatio="2" size="32"></ngx-avatar>
                </ion-avatar>
                <ion-label>{{ invitation.user.firstName }} {{ invitation.user.lastName }}</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ng-container>

<ng-template #noInvites>
    <nz-empty></nz-empty>
</ng-template>
