div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    ion-icon {
        margin-right: 0.5em;
    }
    ion-text {
        font-weight: 600;
    }
}
