<nz-spin [nzSpinning]="loading">
    <ion-card>
        <ion-card-content class="ion-no-padding">
            <div paddingLeft="1em" paddingRight="1em" paddingTop="1em" paddingBottom="1em">
                <ion-card-title display="flex" aic
                    >{{ item.name }}
                    <nz-tag [nzColor]="colorMap[item.status.toLowerCase()]" marginLeft="1em" display="inline-flex">
                        {{ item.status }}
                    </nz-tag>
                </ion-card-title>
                <ion-card-subtitle
                    >Added by
                    <strong
                        ><ion-text color="primary">{{ item.user.firstName }} {{ item.user.lastName }}</ion-text></strong
                    ></ion-card-subtitle
                >
                <ion-card-subtitle
                    >Quantity: {{ item.quantity }} | Price: {{ item.price / 100 | currency: 'PLN' }}</ion-card-subtitle
                >
            </div>
            <ion-row class="buttons" *ngIf="item.status === 'PENDING' && (isAuthor || isOwn)">
                <ion-col *ngIf="isAuthor">
                    <ion-button (click)="accept()" expand="full" fill="clear" size="small" color="success">
                        Accept
                    </ion-button>
                </ion-col>
                <ion-col *ngIf="isAuthor">
                    <ion-button (click)="reject()" expand="full" fill="clear" size="small" color="danger">
                        Reject
                    </ion-button>
                </ion-col>
                <ion-col *ngIf="isAuthor || isOwn">
                    <ion-button (click)="delete()" expand="full" fill="clear" size="small" color="danger">
                        Delete
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="buttons" *ngIf="item.status === 'ACCEPTED' && isAuthor">
                <ion-col>
                    <ion-button (click)="pending()" expand="full" fill="clear" size="small" color="primary">
                        Move to pending
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="reject()" expand="full" fill="clear" size="small" color="danger">
                        Reject
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="delete()" expand="full" fill="clear" size="small" color="danger">
                        Delete
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="buttons" *ngIf="item.status === 'REJECTED' && (isAuthor || isOwn)">
                <ion-col *ngIf="isAuthor">
                    <ion-button (click)="pending()" expand="full" fill="clear" size="small" color="primary">
                        Move to pending
                    </ion-button>
                </ion-col>
                <ion-col *ngIf="isAuthor">
                    <ion-button (click)="accept()" expand="full" fill="clear" size="small" color="danger">
                        Accept
                    </ion-button>
                </ion-col>
                <ion-col *ngIf="isAuthor || isOwn">
                    <ion-button (click)="delete()" expand="full" fill="clear" size="small" color="success">
                        Delete
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</nz-spin>
