.navbar {
    transition: height 250ms ease-in-out;
    height: 45px;
    &.navbar-hidden {
        height: 0;
    }
    &.navbar-visible {
        height: 45px;
    }
}

.navbar-main-hidden {
    height: 0;
}

.navbar-main-visible {
    height: auto;
}
