<ng-container *ngIf="hasChats | async; else noChats">
    <ion-content color="light">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-grid paddingTop="1em" paddingLeft="1em" paddingRight="1em">
            <chats-chat-item
                *ngFor="let chat of (chats | async)?.edges; let i = index"
                [chat]="chat.node"
                [index]="i"
            ></chats-chat-item>
        </ion-grid>
    </ion-content>
</ng-container>
<ng-template #noChats>
    <nz-empty></nz-empty>
</ng-template>
