<ion-content color="light">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openAddModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ng-container *ngIf="(cartItems$ | async)?.partyCartItemsConnection?.edges?.length; else noItems">
        <ion-list-header>
            <ion-label>
                Estimated cost:
                <strong>
                    <ion-text color="primary">
                        {{ (cartItems$ | async)?.partyCartItemsConnection?.edges | calculateEstimatedCost | currency:
                        'PLN' }}
                    </ion-text>
                </strong>
            </ion-label>
        </ion-list-header>

        <party-cart-item *ngFor="let edge of (cartItems$ | async)?.partyCartItemsConnection?.edges" [item]="edge.node">
        </party-cart-item>
    </ng-container>

    <ng-template #noItems>
        <nz-empty></nz-empty>
    </ng-template>
</ion-content>
