<ion-content color="light">
    <ng-container *ngIf="authorized; else noAuthorized">
        <Tabs
            [useOnPan]="true"
            [swipeable]="true"
            [activeTab]="pageNumber"
            [page]="3"
            [tabBarActiveTextColor]="'#1890ff'"
        >
            <TabPane [title]="titleTemplate">
                <ng-template #titleTemplate>
                    <div>Your top tracks</div>
                </ng-template>
                <ng-container *ngIf="topTracks?.length">
                    <ion-list-header>
                        <ion-label>Your top tracks</ion-label>
                    </ion-list-header>
                    <spotify-top-track
                        [track]="track"
                        [currentTrack]="currentTrack"
                        [savedTracks]="savedTracks$"
                        (addToSaved)="handleAddToSaved($event)"
                        (spotifyPlay)="handleSpotifyPlay($event)"
                        *ngFor="let track of topTracks"
                        (trackChange)="handleTrackChange($event)"
                    ></spotify-top-track>
                </ng-container>
                <ng-container *ngTemplateOutlet="topTracksSpotify"></ng-container>
            </TabPane>
            <TabPane [title]="titleTemplate1">
                <ng-template #titleTemplate1>
                    <div>Search for track</div>
                </ng-template>
                <ion-row>
                    <ion-col size="12">
                        <SearchBar
                            [placeholder]="'Search'"
                            cancelText="Cancel"
                            (onChange)="handleSearch($event)"
                        ></SearchBar>
                    </ion-col>
                </ion-row>
                <ng-container *ngIf="searchedTracks?.length; else emptySearched">
                    <spotify-top-track
                        [track]="track"
                        [currentTrack]="currentTrackSearched"
                        [savedTracks]="savedTracks$"
                        (addToSaved)="handleAddToSaved($event)"
                        (spotifyPlay)="handleSpotifyPlay($event)"
                        *ngFor="let track of searchedTracks"
                        (trackChange)="handleTrackChangeSearched($event)"
                    ></spotify-top-track>
                </ng-container>
                <ng-container *ngTemplateOutlet="searchedTracksSpotify"></ng-container>
            </TabPane>
            <TabPane [title]="savedTracksTitle">
                <ng-template #savedTracksTitle>
                    <div>Saved tracks</div>
                </ng-template>
                <party-saved-tracks
                    [savedTracks]="savedTracks$"
                    [changed]="handleOnTrackChange"
                    (spotifyPlay)="handleSpotifyPlay($event)"
                    [id]="id"
                ></party-saved-tracks>
            </TabPane>
            <TabPane [title]="playlistsTitle">
                <ng-template #playlistsTitle>
                    <div>Playlists</div>
                </ng-template>
                <party-playlists [id]="id"></party-playlists>
            </TabPane>
        </Tabs>
    </ng-container>
</ion-content>

<ng-template #topTracksSpotify>
    <spotify-music-player
        [track]="currentTrack"
        (onTrackChange)="handleOnTrackChange($event)"
        (addToSaved)="handleAddToSaved($event)"
        [savedTracks]="savedTracks$"
        [tracks]="topTracks"
    ></spotify-music-player>
</ng-template>
<ng-template #searchedTracksSpotify>
    <spotify-music-player
        [track]="currentTrackSearched"
        (onTrackChange)="handleOnTrackChangeSearched($event)"
        (addToSaved)="handleAddToSaved($event)"
        [savedTracks]="savedTracks$"
        [tracks]="searchedTracks"
    ></spotify-music-player>
</ng-template>

<ng-template #noAuthorized>
    <ion-grid display="flex" fdc jcc aic height="100%">
        <ion-row jcc aic>
            <ion-col size="8">
                <ion-img src="assets/img/require-spotify-auth.svg"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <h4>
                    Authorize us
                </h4>
                <p style="font-size: 80%">
                    We need you to authorize us on Spotify to access this section
                </p>
            </ion-col>
        </ion-row>
        <ion-row jcc aic>
            <ion-col size="12">
                <ion-button (click)="handleAuthorization()" expand="block" color="success">
                    <ion-icon slot="start" name="spotify"></ion-icon>
                    Authorize with Spotify
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ng-template>
<ng-template #emptySearched>
    <nz-empty></nz-empty>
</ng-template>
