<ion-content color="light">
    <ng-container *ngIf="topTracks?.length">
        <ion-list-header>
            <ion-label>Your top tracks</ion-label>
        </ion-list-header>
        <spotify-top-track
            [track]="track"
            [currentTrack]="currentTrack"
            *ngFor="let track of topTracks"
            (trackChange)="handleTrackChange($event)"
        ></spotify-top-track>
    </ng-container>
</ion-content>

<spotify-music-player
    [track]="currentTrack"
    (onTrackChange)="handleOnTrackChange($event)"
    [tracks]="topTracks"
></spotify-music-player>
