<ng-container *ngIf="(party | async) && !loading; else partyNotFound">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="parties"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button>
                    <ion-icon slot="icon-only" name="more-horizontal"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>{{ (party | async)?.title }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="light">
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button tab="home">
                    <ion-icon name="alert-circle" size="small"></ion-icon>
                </ion-tab-button>
                <ion-tab-button tab="music">
                    <ion-icon name="spotify" size="small"></ion-icon>
                </ion-tab-button>
                <ion-tab-button tab="entertainment">
                    <ion-icon name="ent-joystick" size="small"></ion-icon>
                </ion-tab-button>
                <ion-tab-button tab="cart">
                    <ion-icon name="shopping-cart" size="small"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-content>
</ng-container>
<ng-template #partyNotFound>
    <ng-container *ngIf="loading; else show404">
        <div display="flex" aic jcc flex="1 1 auto">
            <nz-spin nzSimple nzSize="large"></nz-spin>
        </div>
    </ng-container>
    <ng-template #show404>
        <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Sorry, the page you visited does not exist.">
            <div nz-result-extra>
                <button nz-button nzType="primary" [routerLink]="['parties']">Back Home</button>
            </div>
        </nz-result>
    </ng-template>
</ng-template>
