<div class="flex-container" style="display: flex; height: 100%; align-items: center; justify-content: center;">
    <ion-grid fixed class="ion-no-padding">
        <ion-row class="ion-text-center" style="margin-bottom: 1.33em;">
            <ion-col size="12" class="animated zoomIn duration-300ms delay-500ms">
                <ion-icon name="logo" size="large" style="width: 64px; height: 64px"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <app-graphql-error [error]="error"></app-graphql-error>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center" style="padding-left: 2em; padding-right: 2em;">
            <ion-col size="12" class="animated fadeInUp duration-400ms delay-800ms">
                <ion-input
                    class="ion-text-left"
                    inputmode="email"
                    [(ngModel)]="email"
                    type="email"
                    placeholder="Your e-mail address"
                ></ion-input>
            </ion-col>
            <ion-col size="12" class="animated fadeInUp duration-400ms delay-900ms">
                <ion-input
                    class="ion-text-left"
                    inputmode="text"
                    autocomplete="off"
                    [(ngModel)]="password"
                    type="password"
                    placeholder="Your password"
                ></ion-input>
            </ion-col>
            <ion-col size="12" style="margin-top: 1em;" class="animated fadeInUp duration-400ms delay-1s">
                <div Button [loading]="loading" [disabled]="loading" style="color: var(--ion-color-primary)" (onClick)="confirm()">
                    Sign{{ loading ? 'ing' : '' }} in
                </div>
            </ion-col>
            <ion-col size="12" style="margin-top: 1em;" class="animated fadeInUp duration-400ms delay-1s">
                <div
                    Button
                    [loading]="facebookLoading"
                    [disabled]="facebookLoading"
                    style="color: #fff; background: var(--ion-color-primary)"
                    (onClick)="fbLogin()"
                >
                    Sign{{ facebookLoading ? 'ing' : '' }} in by Facebook
                </div>
            </ion-col>
            <ion-col size="12" style="margin-top: 1em;" class="animated fadeInUp duration-400ms delay-1s">
                <div
                    Button
                    [loading]="spotifyLoading"
                    [disabled]="spotifyLoading"
                    style="color: #fff; background: var(--ion-color-success)"
                    (onClick)="spotifyLogin()"
                >
                    Sign{{ spotifyLoading ? 'ing' : '' }} in by Spotify
                </div>
            </ion-col>
            <ion-col size="12" style="margin-top: 1em;" class="animated fadeInUp duration-400ms delay-1s">
                <a style="color: white; padding-top: .66em; display: block;">Create new account</a>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
