<ion-header>
    <ion-toolbar>
        <ion-title>Add item to cart</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <form nz-form [formGroup]="createItemForm" (ngSubmit)="onSubmit()">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <input type="text" nz-input formControlName="name" id="name" placeholder="Name..." />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="price"
                            >Price
                            <ng-container *ngIf="createItemForm.get('price').value"
                                >({{ createItemForm.get('price').value | currency: 'PLN' }})</ng-container
                            ></nz-form-label
                        >
                        <nz-form-control [nzSpan]="14">
                            <input type="number" nz-input formControlName="price" id="price" min="0" step="1" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="quantity">
                            Quantity
                        </nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <input type="number" nz-input formControlName="quantity" id="quantity" min="0" step="1" />
                        </nz-form-control>
                    </nz-form-item>
                    <p *ngIf="createItemForm.get('price').value && createItemForm.get('quantity').value">
                        Estimated cost:
                        <strong>
                            <ion-text color="primary">
                                {{
                                    createItemForm.get('price').value * createItemForm.get('quantity').value
                                        | currency: 'PLN'
                                }}
                            </ion-text>
                        </strong>
                    </p>
                    <button
                        nz-button
                        nzType="primary"
                        [disabled]="createItemForm.invalid"
                        nzBlock
                        marginTop="1em"
                        marginBottom="1.5em"
                    >
                        Create
                    </button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
