/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~animate.css/animate.min.css';

body {
    background: var(--ion-color-light) !important;
}
main {
    --background: #f4f5f8 !important;
}
.mapboxgl-canvas {
    height: 100% !important;
}
.flex-container {
    margin: 0 15px;
}
.bg-primary {
    background: var(--ion-color-primary);
}
.vh100 {
    height: 100vh;
}
.animated.delay-500ms {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}
.animated.delay-100ms {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}
.animated.delay-200ms {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}
.animated.delay-300ms {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}
.animated.delay-400ms {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}
.animated.delay-600ms {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}
.animated.delay-700ms {
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
}
.animated.delay-800ms {
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}
.animated.delay-900ms {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
}
.animated.duration-100ms {
    -webkit-animation-duration: 100ms;
    animation-duration: 100ms;
}
.animated.duration-200ms {
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
}
.animated.duration-300ms {
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}
.animated.duration-400ms {
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}
.animated.duration-500ms {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}
.animated.duration-600ms {
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
}
.animated.duration-700ms {
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
}
.animated.duration-800ms {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}
.animated.duration-900ms {
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
}

.scroller {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; // IE 10+
    scrollbar-width: none; // Firefox
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
}

.alert {
    padding: 1em;
    border-radius: 6px;
    font-weight: 500;
    font-size: 95%;
}

$colors-list: 'success' 'warning' 'danger' 'primary' 'secondary' 'tertiary' 'dark' 'medium' 'light';
@each $current-color in $colors-list {
    .alert.alert-#{$current-color} {
        background: rgba(var(--ion-color-#{$current-color}-rgb, 0, 0, 0), 0.57);
        border: 1px solid rgba(var(--ion-color-#{$current-color}-rgb, 0, 0, 0), 0.44);
        color: rgba(var(--ion-color-#{$current-color}-contrast-rgb, 0, 0, 0), 0.87);
    }
}

.ant-alert {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    padding: 8px 15px 8px 37px;
    border-radius: 4px;
}
.ant-alert.ant-alert-no-icon {
    padding: 8px 15px;
}
.ant-alert.ant-alert-closable {
    padding-right: 30px;
}
.ant-alert-icon {
    position: absolute;
    top: 11.5px;
    left: 16px;
}
.ant-alert-description {
    display: none;
    font-size: 14px;
    line-height: 22px;
}
.ant-alert-success {
    background-color: #f6ffed;
    border: 1px solid #b7eb8f;
}
.ant-alert-success .ant-alert-icon {
    color: #52c41a;
}
.ant-alert-info {
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
}
.ant-alert-info .ant-alert-icon {
    color: #1890ff;
}
.ant-alert-warning {
    background-color: #fffbe6;
    border: 1px solid #ffe58f;
}
.ant-alert-warning .ant-alert-icon {
    color: #faad14;
}
.ant-alert-error {
    background-color: #fff1f0;
    border: 1px solid #ffa39e;
}
.ant-alert-error .ant-alert-icon {
    color: #f5222d;
}
.ant-alert-close-icon {
    position: absolute;
    top: 8px;
    right: 16px;
    overflow: hidden;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
}
.ant-alert-close-icon .anticon-close {
    color: rgba(0, 0, 0, 0.45);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.ant-alert-close-icon .anticon-close:hover {
    color: rgba(0, 0, 0, 0.75);
}
.ant-alert-close-text {
    position: absolute;
    right: 16px;
}
.ant-alert-with-description {
    position: relative;
    padding: 15px 15px 15px 64px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5;
    border-radius: 4px;
}
.ant-alert-with-description.ant-alert-no-icon {
    padding: 15px;
}
.ant-alert-with-description .ant-alert-icon {
    position: absolute;
    top: 16px;
    left: 24px;
    font-size: 24px;
}
.ant-alert-with-description .ant-alert-close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 14px;
    cursor: pointer;
}
.ant-alert-with-description .ant-alert-message {
    display: block;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}
.ant-alert-with-description .ant-alert-description {
    display: block;
}
.ant-alert.ant-alert-close {
    height: 0 !important;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-alert-slide-up-leave {
    -webkit-animation: antAlertSlideUpOut 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    animation: antAlertSlideUpOut 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.ant-alert-banner {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.btn-block {
    width: 100%;
}

.fc-title,
.fc-event {
    font-weight: 800 !important;
    font-size: 90%;
}
