<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" no-bounce color="light">
    <ng-container *ngIf="!(hasParties | async); else content">
        <ion-grid
            fixed
            class="ion-align-items-center ion-justify-content-center animated fadeIn delay-300ms"
            style="display: flex; height: 100%; flex-direction: column"
        >
            <ion-row class="ion-justify-content-center">
                <ion-col size="10">
                    <ion-img src="/assets/img/no_data.svg"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="12" class="ion-text-center">
                    <span
                        ><strong><h4>You currently do not have any parties</h4></strong></span
                    >
                </ion-col>
                <ion-col size="12" style="margin-top: 1em;">
                    <div Button [icon]="'plus'" type="primary" (onClick)="create()">Create new party</div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>
    <ng-template #content>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="animated zoomIn duration-300ms delay-400ms">
            <ion-fab-button [routerLink]="['create']">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <app-party-item *ngFor="let party of parties | async" [party]="party"></app-party-item>
    </ng-template>
</ion-content>
